.post-topic {
    margin: 0.4px;
}

html {
    font-family: 'Lato' sans-serif;
}

body {
    font-family: 'Lato' sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}


.logo-main,
.recent-posts {
    display: grid;
    justify-items: center;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.no-content {
    color: rgb(145, 122, 122);
    font-size: 14px;
    line-height: 17px;
}

@import "./mixins";
@import "./searchBar";
@import "./recentPosts";
@import "./post";
@import "./home";
@import "./results";
